.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    padding: 0 25px 0 25px;
}

.project-display {
    position: relative;
    overflow: auto;
}

.project-names {
    position: absolute;
    bottom: 25px;
}

.project-pictures, .project-names {
    max-width: 250px;
    margin: 0 15px 20px 15px;
}

.project-names {
    background-color: #4aaaa5;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-header {
    margin: 15px 0 15px 0;
    font-weight: normal;
}