html, body {
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* main content */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
    /* change this background-image link later */
    background-image: url(/Users/Justin/twoplatinumchainz/assets/images/ripples.png);
    margin: 0 auto;
}

/* header */
header, #submit {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    padding: 0;
}

/* sticky footer styling */
footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
    padding-top: 20px;
    margin: 0 auto;
}

/* my picture, centered */
.profile-pic {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* header nav bar */
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding: 0 5px 0 0;
}

/* my name text */
#name {
    padding: 0 30px;
}

/* about me text */
#main-header {
    border-bottom: 3px solid #ccc;
    color: #4aaaa5;
}

/* content in the main container */
#main {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 960px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 40px 20px 10px 20px;
}

/* regular font & font color */
p, a, form, body, input, #message-box, #submit {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* links to other html pages */
#links {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

/* divider between the links */
.divider {
    width: 1px;
    background-color: #ddd;
    margin: 0 15px;
}

/* form on the contact page */
form {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

/* teal color for header and button */
#name, #submit {
    background-color: #4aaaa5;
}

#submit {
    align-self: flex-start;
    width: 110px;
    height: 40px;
    margin-top: 10px;
    border: 0px;
}

/* sticky footer */
.footer {
    flex-shrink: 0;
    margin: 5px auto;
}

#name, #submit, .footer {
    color: #fff;
}

#projects {
    padding: 30px 0;
}

/* .rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
} */

/* portfolio page columns */
.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#message-box {
    height: 200px;
    border-color: #ddd;
    font-size: 80%;
    padding-left: 5px;
}

/* form input text */
input {
    height: 25px;
    font-size: 80%;
    padding-left: 5px;
    margin: 5px 0;
}

/* form labels (name, email, message) */
label {
    margin-bottom: 3px;
    font-size: 1.25em;
    font-weight: 525;
}

/* removes underline from links in nav bar */
a:link {
    text-decoration: none;
}