html, body {
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding: 0 5px 0 0;
}

.my-name {
    background-color: #4aaaa5;
    padding: 0 30px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

a:link {
    text-decoration: none;
}

.link-divider {
    width: 1px;
    background-color: #ddd;
    margin: 0 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(https://github.com/twopcz/twoplatinumchainz/blob/master/assets/images/white-waves.png?raw=true);
    margin: 0 auto;
    position: relative;
}

.content-header {
    border-bottom: 3px solid #cccccc;
    color: #4aaaa5;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 888px;
    padding: 40px 35px 10px 35px;
    margin: 15px 0 15px 0;
}

p, a, form, body {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.sticky-footer {
    flex-shrink: 0;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}

p.footer {
    font-size: 0.5em;
    font-weight: 50;
    color: #ddd;
    padding: 20px 0 5px 0;
    margin-bottom: 0;
}

.my-name, .sticky-footer, h4 {
    color: #fff;
}